<div class="author">
  <h1 class="author__heading">Search Results</h1>
</div>
<section class="articles">
  <ul class="article-ul">
    <% data.forEach(post => {%>
    <a href="/post/<%= post.id %>">
      <span><%= post.title %></span>
      <span class="article-list__date">
        <%= post.createdAt.toDateString() %>
      </span>
    </a>

    <% }); %>
  </ul>
</section>
